In [1]:
import pandas as pd

shark_attack = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls", parse_dates = ["Date"])

In [2]:
#Importing our defined functions
from shark_attack_functions import *

In [3]:
#Getting initial overview of data frame
data_frame_overview(shark_attack)

Column names:
 Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

Dimensions: (6957, 23)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6957 entries, 0 to 6956
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6932 non-null   object
 1   Year            6930 non-null   float64
 2   Type            6914 non-null   object
 3   Country         6882 non-null   object
 4   State           6451 non-null   object
 5   Location        6368 non-null   object
 6   Activity        6347 non-null   object
 7   Name            6713 non-null   object
 8   Sex             6353 non-null   object
 9   Age             3942 non-null   object
 10  Injury          6897 non-null   object
 11  Unnamed: 11     6371 non-null   object
 12  Time            3410 non-null   object
 13  Species         3804 non-null   object
 14  Source          6913 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6819 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB
None

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,...,White shark,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,05-Jan-2024,2024.0,Provoked,SOUTH AFRICA,Eastern Cape Province,Papiesfontein,Fishing,male,M,62,...,Raggedtooth shark,Jacaranda fm. 1/6/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30 Dec-2023,2023.0,Unprovoked,USA,Hawaii,"Baby Beach, Maui",Surfing,Jason Carter,M,39,...,NaN,"Surfer, 12/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29 Dec-2023,2023.0,Unprovoked,MEXICO,Sonora,"Tojahui Beach, Yavaros, Huatabampo",Free diving,Víctor Alejandro “N”,M,22,...,White shark,"EuroESEuro, 12/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28 Dec-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Ethel Beach,Surfing,Khai Cowley,M,15,...,"White shark, 13'","S. DeMarchi, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,25 Dec-2023,2023.0,Unprovoked,AUSTRALIA,New South Wales,Old Bar,Surfing,Julian McLennan,M,16,...,NaN,"9 News, 12/26/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,24-Dec-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Wedge Island,Foil Boarding,Troy Brown,M,46,...,Broze whaler?,"9 News, 12/25/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,18 Dec-2023,2023.0,Unprovoked,NEW ZEALAND,South Island,Riverton,Wading,female,F,21,...,Sevengill shark,"NZ Herald, 12/18/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,14 Dec-2023,2023.0,Questionable,MEXICO,Guerrero,"Playa Quieta, Ixtapa, Zihuatanejo",Swimming,Joseph Leopold Bynens,M,66,...,Shark involment not confirmed,"EL Pais, 12/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,14 Dec-2023,2023.0,Questionable,MEXICO,Guerrero,"Playa Quieta, Ixtapa, Zihuatanejo",Swimming,Valerie Haurowitz,F,52,...,Shark involment not confirmed,"EL Pais, 12/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Applying the reformatting the names of the columns
column_name_mapping = {'unnamed:_11' : 'fatal'}

format_column_names(shark_attack, column_name_mapping)

New column names:
 Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species', 'source',
       'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [5]:
"""Handling duplicates"""

#checking for duplicates
dup_check(shark_attack)

#dropping duplicate rows
drop_dup_reset(shark_attack)

"""Handling null values"""

#finding null values
null_check(shark_attack)

#removing null values
dropna_rows_cols(shark_attack, 3, 3)


"""Cleaning the content of the columns"""

clean_sex_column(shark_attack)

clean_countries_column(shark_attack)
clean_type_column(shark_attack)

clean_fatality_column(shark_attack)

clean_fatality_column(shark_attack)

Duplicates found: True

Number of duplicates: 24

Deleted 24 duplicates
Total null values per row:
0        8
1        9
2        9
3        8
4        8
        ..
6928     6
6929     5
6930     7
6931     4
6932    22
Length: 6933, dtype: int64

Total null values per column:
date                 1
year                 3
type                19
country             51
state              482
location           565
activity           586
name               220
sex                580
age               2991
injury              36
fatal              562
time              3523
species           3129
source              20
pdf                134
href_formula       138
href               137
case_number        135
case_number.1      136
original_order     134
unnamed:_21       6932
unnamed:_22       6931
dtype: int64

Deleted 1 rows
Deleted 2 columns

NameError: name 'pd' is not defined

In [6]:
"""Getting rid of the columns we don't need"""

#Creating filtered data_frame

selected_columns = ['date', 'name', 'sex', 'age', 'country', 'state', 'location', 'time', 'species', 'activity', 'type', 'fatal']
shark_attack_new = shark_attack[selected_columns].copy()
data_frame_overview(shark_attack_new)

Column names:
 Index(['date', 'name', 'sex', 'age', 'country', 'state', 'location', 'time',
       'species', 'activity', 'type', 'fatal'],
      dtype='object')

Dimensions: (6932, 12)

<class 'pandas.core.frame.DataFrame'>
Index: 6932 entries, 0 to 6931
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      6932 non-null   object
 1   name      6713 non-null   object
 2   sex       6353 non-null   object
 3   age       3942 non-null   object
 4   country   6882 non-null   object
 5   state     6451 non-null   object
 6   location  6368 non-null   object
 7   time      3410 non-null   object
 8   species   3804 non-null   object
 9   activity  6347 non-null   object
 10  type      6914 non-null   object
 11  fatal     6371 non-null   object
dtypes: object(12)
memory usage: 704.0+ KB
None

,date,name,sex,age,country,state,location,time,species,activity,type,fatal
0,09-Jan-2024,Murray Adams,m,64,AUSTRALIA,South Australia,"Walkers Beach, Elliston",13h00,White shark,Surfing,Unprovoked,N
1,05-Jan-2024,male,m,62,SOUTH AFRICA,Eastern Cape Province,Papiesfontein,NaN,Raggedtooth shark,Fishing,Provoked,N
2,30 Dec-2023,Jason Carter,m,39,USA,Hawaii,"Baby Beach, Maui",11h12,NaN,Surfing,Unprovoked,Y
3,29 Dec-2023,Víctor Alejandro “N”,m,22,MEXICO,Sonora,"Tojahui Beach, Yavaros, Huatabampo",13h00,White shark,Free diving,Unprovoked,Y
4,28 Dec-2023,Khai Cowley,m,15,AUSTRALIA,South Australia,Ethel Beach,13h30,"White shark, 13'",Surfing,Unprovoked,Y
5,25 Dec-2023,Julian McLennan,m,16,AUSTRALIA,New South Wales,Old Bar,16h30,NaN,Surfing,Unprovoked,N
6,24-Dec-2023,Troy Brown,m,46,AUSTRALIA,Western Australia,Wedge Island,15h00,Broze whaler?,Foil Boarding,Unprovoked,N
7,18 Dec-2023,female,f,21,NEW ZEALAND,South Island,Riverton,02h00,Sevengill shark,Wading,Unprovoked,N
8,14 Dec-2023,Joseph Leopold Bynens,m,66,MEXICO,Guerrero,"Playa Quieta, Ixtapa, Zihuatanejo",09h15,Shark involment not confirmed,Swimming,Questionable,Y
9,14 Dec-2023,Valerie Haurowitz,f,52,MEXICO,Guerrero,"Playa Quieta, Ixtapa, Zihuatanejo",Early Morning,Shark involment not confirmed,Swimming,Questionable,N

In [7]:
#Exploratory Data Analysis (EDA)
#numeric_columns = ['age', 'time']
#categorical_columns = ['sex', 'country', 'state', 'location', 'species', 'activity', 'type', 'fatal']

#value counts for each column
for column in shark_attack_new.describe(include=["O"]).columns:
    print(shark_attack_new[column].value_counts())
    print()


#describe for numeric values
shark_attack_new.describe()

date
1957           11
1942            9
1956            8
1941            7
1950            7
               ..
25-Jul-2000     1
Aug-2000        1
10-Aug-2000     1
11-Aug-2000     1
1845-1853       1
Name: count, Length: 5962, dtype: int64

name
male               676
female             135
boy                 23
2 males             17
boat                14
                  ...
P.L.                 1
Richard Horton       1
C.K.                 1
John McGovern        1
Jules Patterson      1
Name: count, Length: 5677, dtype: int64

sex
m        5573
f         775
n           2
lli         1
m x 2       1
.           1
Name: count, dtype: int64

age
19          89
16          89
17          88
17          84
15          84
            ..
84           1
36 & 26      1
77           1
Teens        1
13 or 14     1
Name: count, Length: 243, dtype: int64

country
USA                               2536
AUSTRALIA                         1478
SOUTH AFRICA                       597
NEW ZEALAND                        144
PAPUA NEW GUINEA                   136
                                  ...
FEDERATED STATES OF MICRONESIA       1
Maldives                             1
RED SEA                              1
South Africa                         1
CEYLON (SRI LANKA)                   1
Name: count, Length: 224, dtype: int64

state
Florida                     1178
New South Wales              521
Queensland                   346
Hawaii                       339
California                   323
                            ...
Ganges-Brahmaputra delta       1
Florida                        1
Franklin County, Florida       1
Aulong Island                  1
Moala Island                   1
Name: count, Length: 896, dtype: int64

location
New Smyrna Beach, Volusia County                              191
Daytona Beach, Volusia County                                  31
Ponce Inlet, Volusia County                                    28
Myrtle Beach, Horry County                                     22
Melbourne Beach, Brevard County                                20
                                                             ...
El Yaqu, Isla de Margarita                                      1
Petting Tank, Florida Aquarium, Tampa, Hillsborough County      1
East side of Bench Island in the Foveaux Strait                 1
Goolwa Beach, Fleurieu Peninsula                                1
Below the English fort, Trincomalee                             1
Name: count, Length: 4503, dtype: int64

time
Afternoon      215
11h00          140
Morning        135
15h00          127
12h00          122
              ...
15j45            1
10h27            1
10h16            1
11h24            1
19h00-20h00      1
Name: count, Length: 410, dtype: int64

species
White shark                                                                                                                      194
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   92
Tiger shark                                                                                                                       87
                                                                                                                                ...
Bull shark, 1.65 m [5'5"] was speared & killed                                                                                     1
Possibily a  1.5 to 2 m sandtiger shark                                                                                            1
60 cm [23.6"] blind or brown shark                                                                                                 1
2 m [6.75'] sevengill  shark                                                                                                       1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: count, Length: 1674, dtype: int64

activity
Surfing                                                        1120
Swimming                                                        971
Fishing                                                         486
Spearfishing                                                    380
Wading                                                          174
                                                               ...
Fishing for red fish                                              1
Fishing boat swamped in a storm                                   1
Free diving (but on surface)                                      1
Adrift after the sinking of the motor yacht Princess Dianne       1
Wreck of  large double sailing canoe                              1
Name: count, Length: 1586, dtype: int64

type
Unprovoked             5098
Provoked                634
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             22
Boat                      7
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

fatal
N          4824
Y          1457
UNKNOWN      71
 N            7
M             3
F             3
n             1
Nq            1
2017          1
Y x 2         1
N             1
y             1
Name: count, dtype: int64

,date,name,sex,age,country,state,location,time,species,activity,type,fatal
count,6932,6713,6353,3942,6882,6451,6368,3410,3804,6347,6914,6371
unique,5962,5677,6,243,224,896,4503,410,1674,1586,11,12
top,1957,male,m,19,USA,Florida,"New Smyrna Beach, Volusia County",Afternoon,White shark,Surfing,Unprovoked,N
freq,11,676,5573,89,2536,1178,191,215,194,1120,5098,4824

In [8]:
"""Data cleaning for dates"""
shark_attack_new['date'] = pd.to_datetime(shark_attack_new['date'], errors='coerce')

shark_attack_new['date']

0      2024-01-09
1      2024-01-05
2             NaT
3             NaT
4             NaT
          ...
6927          NaT
6928          NaT
6929          NaT
6930          NaT
6931          NaT
Name: date, Length: 6932, dtype: datetime64[ns]

In [9]:
#data cleaning for activity column

print(shark_attack_new["activity"].value_counts())

replace_dict = {'fish':'fishing', 'swim':'swimming', 'surf': 'surfing', 'wading': 'swimming', 'bathing': 'swimming', 'diving': 'diving', 'sail':'sailing', 'snork':'snorkeling'}

activity
Surfing                                                        1120
Swimming                                                        971
Fishing                                                         486
Spearfishing                                                    380
Wading                                                          174
                                                               ...
Fishing for red fish                                              1
Fishing boat swamped in a storm                                   1
Free diving (but on surface)                                      1
Adrift after the sinking of the motor yacht Princess Dianne       1
Wreck of  large double sailing canoe                              1
Name: count, Length: 1586, dtype: int64

In [10]:
#data cleaning for species column - removing rows, where sharks' involment was not prooved

values_to_remove = [
    'doubtful / unconfirmed attack / unable to verify in local records',
    'injuries not caused by a shark',
    'no shark involvement',
    'no shark invovlement - it ws a publicity stunt',
    'no shark invovlement ',
    'questionable incident, said to involve a 6\' shark',
    'questionable incident; reported as shark attack but thought to involve a pinniped instead ',
    'reported as a shark attack, the story was a hoax',
    'said to involve an 8\' shark but more likely damage caused by debris',
    'Shark involment not confirmed',
    'shark involvement  questionable',
    'shark involvement highly doubtful',
    'shark involvement not confirmed & highly unlikely',
    'shark involvement not confirmed',
    'shark involvement not confirmes',
    'shark involvement  not confirmed',
    'shark involvement prior to death not confirmed',
    'shark involvement prior to death still to be determined',
    'shark involvement prior to death suspected but not confirmed',
    'shark involvement prior to death unconfired',
    'Shark involvement prior to death unconfirmed',
    'Shark involvement prior to death was not confirmed',
    'shark involvement prior to deaths unconfirmed',
    'shark involvement probable',
    'shark involvement questionable',
    'shark involvement prior to death could not be determined',
    'shark involvement suspected but not confirmed',
    'shark involvement prior to death remains unconfirmed',
    'shark involvement unconfirmed but considered probable',
    'thought to involve a 3\' to 4\' shark, but shark involvement not confirmed',

]

shark_attack_new = shark_attack[~shark_attack['species'].isin(values_to_remove)]
shark_attack_new['species'].nunique()

1670

In [11]:
shark_attack_new['species'].value_counts()

species
White shark                                                                                                                      194
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   92
Tiger shark                                                                                                                       87
Bull shark                                                                                                                        67
                                                                                                                                ...
Bull shark, 1.65 m [5'5"] was speared & killed                                                                                     1
Possibily a  1.5 to 2 m sandtiger shark                                                                                            1
60 cm [23.6"] blind or brown shark                                                                                                 1
2 m [6.75'] sevengill  shark                                                                                                       1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: count, Length: 1670, dtype: int64

In [12]:
#data cleaning for species column - replacing species, which containes similar names

shark_attack_new = replace_species(shark_attack_new)
shark_attack_new['species'].nunique()

/Users/jameskenny/Documents/GitHub/Shark_attack/shark_attack_functions.py:252: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attack_new['species'] = shark_attack_new['species'].str.lower()

444

In [13]:
#data cleaning for species column - here we delated the remained values, that contains numbers only

import numpy as np

shark_attack_new['species'] = shark_attack_new['species'].where(~shark_attack_new['species'].str.contains('\d', na=False), np.nan)
shark_attack_new['species'].nunique()

/var/folders/13/0nlynbg14s375y20r49pw4r40000gp/T/ipykernel_63835/562398663.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attack_new['species'] = shark_attack_new['species'].where(~shark_attack_new['species'].str.contains('\d', na=False), np.nan)

140

In [14]:
#data cleaning for species column - replacing remined invalid data, such as ' ' with NaN.

words_to_replace = ['Barracuda (not shark)', 'small', 'school', 'large', 'pack', 'unknown', 'nan', 'does not',
                    ' ', '  ', 'unidentified', '\xa0', 'questionable', 'invalid', ]

shark_attack_modified = replace_values_with_nan(shark_attack_new, words_to_replace)

shark_attack_modified['species'].nunique()

NameError: name 'np' is not defined

In [15]:
#describe for categorical values
shark_attack_new.describe(include=["O"])

,date,type,country,state,location,activity,name,sex,age,injury,fatal,time,species,source,pdf,href_formula,href,case_number,case_number.1
count,6756,6738,6709,6295,6210,6235,6562,6207,3887,6722,6367,3381,2704,6739,6625,6620,6622,6624,6623
unique,5803,11,222,884,4406,1539,5565,6,236,3940,12,406,140,5160,6615,6610,6602,6604,6602
top,1957,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,m,16,FATAL,N,Afternoon,White,"K. McMurray, TrackingSharks.com",1916.12.08.a-b-German.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1907.10.16.R,2018.09.23
freq,10,5098,2484,1164,191,1118,652,5444,89,854,4823,214,703,131,2,2,4,2,2

In [16]:
#Export data frame as csv

#converting data frame to csv
shark_attack_new.to_csv('shark_attack_data_cleaned.csv', index=False)